.container
  .padded
    .panel.panel-info
      .panel-heading
        h1.panel-title Photo details
      .panel-body
        .row
          .col-md-7
            .thumbnail
              img(ng-src='{{ ::vm.image.binary }}', class='img-rounded')
          .col-md-5
            div(role='tabpanel')
              ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                  a(data-target='#info', aria-controls='info', role='tab', data-toggle='tab') Information
                li(role='presentation')
                  a(data-target='#map', aria-controls='map', role='tab', data-toggle='tab') Map
              .tab-content
                #info.tab-pane.active(role='tabpanel')
                  h2(ng-click='vm.editable = "title"', ng-hide='vm.editable === "title"') {{ vm.image.title }}
                  span(ng-show='vm.editable === "title"')
                    form.form-inline(name='titleForm')
                      .form-group
                        input.form-control(type='text', required='', ng-model='vm.image.title', size='{{ vm.image.title.length + 5 }}', name='title')
                        button.btn.btn-success(ng-click='vm.updateTitle(); vm.editable = ""') Save
                        button.btn.btn-warning(ng-click='vm.editable = ""') Cancel
                  p.description(ng-click='vm.editable = "description"', ng-hide='vm.editable === "description"') {{ vm.image.description }}
                  span(ng-show='vm.editable === "description"')
                    form.form-inline(name='descriptionForm')
                      .form-group
                        textarea(class='form-control', rows="3", cols='55', placeholder='Photo description', ng-model='vm.image.description')
                        p
                          button.btn.btn-success(ng-click='vm.updateDescription(); vm.editable = ""') Save
                          button.btn.btn-warning(ng-click='vm.editable = ""') Cancel
                  hr
                  p #[strong Make and model]: {{ ::vm.image.make }} {{ ::vm.image.model }}
                  p #[strong Created on]: {{ ::vm.image.created | dateSuffix  }}
                  p #[strong Latitude]: {{ ::vm.image.location.coordinates[0] }} | #[strong Longitude]: {{ ::vm.image.location.coordinates[1] }}
                  hr(ng-show='vm.image.location.city && vm.image.location.country')
                  p(ng-show='vm.image.location.city && vm.image.location.country') #[strong Location] 
                    a.mytooltip [?]
                      span Based on reverse geo-lookup
                    | : {{ ::vm.image.location.city }}, {{ ::vm.image.location.country }}
                  hr
                  small Original filename: {{ ::vm.image.filename }}
                #map.tab-pane(role='tabpanel')
                  img(src='https://maps.googleapis.com/maps/api/staticmap?center={{vm.image.location.coordinates[0]}},{{vm.image.location.coordinates[1]}}&zoom=15&markers=color:red|{{vm.image.location.coordinates[0]}},{{vm.image.location.coordinates[1]}}&size=400x400')
          .col-md-12
            h3 Semantic Info
            .panel.panel-primary
              .panel-heading
                h3.panel-heading.panel-title(ng-show='vm.semantic.capital') {{ ::vm.semantic.capital }}, {{ ::vm.image.location.country }}
              .panel-body
                .col-md-4
                  span(ng-show='vm.semantic.imageFlag')
                    img.img-rounded(ng-src='https://en.wikipedia.org/wiki/Special:FilePath/{{ ::vm.semantic.imageFlag }}?width=300') 
                .col-md-4
                  span(ng-show='vm.semantic.imageMap') 
                    img.img-rounded(ng-src='https://en.wikipedia.org/wiki/Special:FilePath/{{ ::vm.semantic.imageMap }}?width=300')
                .col-md-4
                  p(ng-show='vm.semantic.homepage') #[strong Homepage]: {{ ::vm.semantic.homepage }}
                  p(ng-show='vm.semantic.anthem') #[strong Anthem]: {{ ::vm.semantic.anthem }}
                  p(ng-show='vm.semantic.currencyCode') #[strong Currency]: {{ ::vm.semantic.currencyCode }}
                  p(ng-show='vm.semantic.areaKm') #[strong Area]: {{ ::vm.semantic.areaKm }} km2
                  p(ng-show='vm.semantic.timeZone') #[strong Timezone]: {{ ::vm.semantic.timeZone }}
                .col-md-12
                  p.spaced(ng-show='vm.semantic.abstract') {{ ::vm.semantic.abstract }}
            
