.container
  h1 Import file
  p.
   To import photos please use the command line <code>node.js</code> application that can be found under the <code>import</code> folder.
   #[br] Before running the above script please make sure that you execute #[code npm install] from the #[b root] folder.
  p.
    The import tool has two options - it can process one single file as well as multiple jp(e)g images from a specified folder (the script cannot iterate through sub-directories at the moment)
  pre.
    node import.js [filename.jpg]
  p or
  pre.
    node import.js [/path/to/folder]
  p.
    <code>dbsettings.js</code> contains the settings to connect to the database and it's located in the project's root folder - the default settings are:
  pre.
    'use strict';

    var connection = {
        host: 'localhost',
        port: 5003,
        user: 'admin',
        password: 'admin'
    };

    module.exports.connection = connection;