.container
  div
    #map
    div.progress(ng-show='vm.markers.message')
        div.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='{{vm.markers.percentage}}', aria-valuemin='100', aria-valuemax='100', style='width: {{vm.markers.percentage}}%;') {{ vm.markers.percentage }}%
    p(ng-show='vm.markers.message') {{ vm.markers.message }}
    .row(class='fixed',ng-hide='vm.markers.message')
        .col-sm-3.col-md-3(ng-repeat='marker in vm.markers')
            p
                a(href='#', ng-click='openInfoWindow($event, marker)', role='button', class='btn btn-sm btn-default') {{ marker.title | limitTo: 12 }} 
                    i.glyphicon(class='glyphicon-search')
                | 
                a(href='#/edit/{{ marker.id }}', role='button', class='btn btn-sm btn-warning')
                    i.glyphicon(class='glyphicon-pencil')
