extends layout

block content
    .container
        .starter-template
            h1 JSConf.Asia - Geospatial MEAN Stack Workshop
              p.lead
                | This project has been created for the JSConf.Asia Conference and it is based on GeoSpatial data extracted out from JPG images.