#footer
    .container
        p.text-center
          small
            | Created by: 
            a(href='http://me.tamas.io/', target='_blank') Tamas Piros
            |  | 
            a(href='https://twitter.com/tpiros') @tpiros
            | 
            a(href='http://fullstacktraining.com', target='_blank')
                img(src='/public/css/fullstacktraining.png', alt='Full Stack Training')
            | | 
            a(href='https://twitter.com/trainingstack') @trainingstack

// script(src='https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&libraries=drawing')
script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&sensor=false')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
script(src='/components/angular/angular.min.js')
script(src='/components/angular-route/angular-route.min.js')
script(src='/public/js/app.js')
script(src='/public/js/controller.js')
script(src='/public/js/service.js')