#footer
    .container
        p.text-center
          small
            a(href='http://www.marklogic.com/services/training/', target='_blank') MarkLogic University
script(src='https://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&libraries=drawing&v=3.exp')
script(src='/components/jquery/dist/jquery.min.js')
script(src='/components/bootstrap/dist/js/bootstrap.min.js')
script(src='/components/angular/angular.min.js')
script(src='/components/angular-route/angular-route.min.js')
script(src='/public/js/app.js')
script(src='/public/js/interceptor/interceptor.js')
script(src='/public/js/data/photofactory.js')
script(src='/public/js/search/geosearch/geosearch.controller.js')
script(src='/public/js/search/textsearch/textsearch.controller.js')
script(src='/public/js/map/map.controller.js')
script(src='/public/js/editor/photoeditor.controller.js')
script(src='/public/js/filter/datesuffix.filter.js')
script(src='/public/js/directive/geophoto.directive.js')
