extends layout

block content
    .container
      h1 Import file
      p.
        To import photos please use the command line <code>node.js</code> application that can be found under the <code>import</code> folder.
      p.
        The import tool has two options - it can process one single file as well as multiple jpg images from a given folder 
      pre.
        node app.js [filename.jpg]
      p or
      pre.
        node app.js [/path/to/folder]
      p.
        <code>dbsettings.js</code> contains the settings to connect to the database - the default settings are:
      pre.
        'use strict';

        var connection = {
            host: 'localhost',
            port: 8091,
            user: 'admin',
            password: 'admin'
        };

        module.exports.connection = connection;