extends layout

block content
    .container
      h1 Map yay
      div(ng-controller='MapController')
        #map
        div.progress(ng-show='markers.message')
            div.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='{{markers.percentage}}', aria-valuemin='100', aria-valuemax='100', style='width: {{markers.percentage}}%;') {{ markers.percentage }}%
        .row
            .col-sm-2.col-md-2(ng-repeat='marker in markers')
                p
                    a(href='#', ng-click='openInfoWindow($event, marker)') {{marker.title}}
