/*standard styling*/
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display:none !important
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  margin-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#map {
    height:450px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fixed {
  height: 200px;
  overflow: scroll;
}
.infoWindowHeader {
  display: block;
  font-size: 14px;
  padding-bottom:10px;
}
.infoWindowContent {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    display: block;
}
.infoWindowContent img {
  width: 300px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #eee;
}