/*standard styling*/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  margin-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#map {
    height:450px;
    margin-bottom: 10px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #eee;
}